{% extends 'base.html' %}
{% block title %}Create Form{% endblock title %}
<!-- Button trigger modal -->
{% block css %}
<!-- <link rel="stylesheet" href="https://codepen.io/gymratpacks/pen/VKzBEp#0"> -->
<link href='https://fonts.googleapis.com/css?family=Nunito:400,300' rel='stylesheet' type='text/css'>
<style>
 

   /*  */
   *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  /* z-index: -1; */
  margin:auto;
  position: relative;
  top: 6vh;
  left: 15vw;
  /* justify-content: center; */
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 3px;
}
.render{
  min-height: 20vh;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: rgb(226, 255, 253);

}
.render::-webkit-scrollbar-track
{
	background-color: transparent;
}

.render::-webkit-scrollbar
{
	width: 10px;
	background-color: transparent;
}

.render::-webkit-scrollbar-thumb
{
	background-color: #692929;	
}
input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #4bc970;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 100%;
  border: 1px solid #3ac162;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255,255,255,0.1) inset;
  margin-bottom: 10px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
/* 
label {
  display: block;
  margin-bottom: 8px;
} */

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}

#render{
  width: 80%;
  margin: 15px auto;
}
@media screen and (min-width: 480px) {

  form {
    max-width: 480px;
  }

}
.link{

  width: 300px;
  margin: 30px;
  margin-bottom: 2px;
  margin-top: 10px;
  display: none;

}
/* .linkre{
  height: 40px;
  width: 100%;

  background-color: rgb(203, 248, 255);
} */

</style>
{% endblock css %}
{% block body %}
<div class="block mt-4">
  <div class="link" id="linkk">
    <div class="linkre" id="link">
      <input type="text" value="Form Link" id="myInput">

    </div>
    <button class="btn btn-primary mt-1" id="copylink" onclick="myFunction()" style="width: 100px;">Copy link</button>
  </div>
  <div class="container">
  <label for="bio"> <h3> Form Title</h3></label>
  <textarea id="title" name="user_bio"></textarea>      
     <label for="bio"><h3> Form Discription</h3></label>
  <textarea id="discc" name="user_bio"></textarea>
</div>

 




<div class="container">






<div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel">Select type</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <ul>
            <li>
                <label for="Short">
 Short Ans
               </label> 
               <input type="radio" name="Short" id="Short">
             </li>
            
            <li>
                <label for="long">
                    Long Ans
               </label> 
               <input type="radio" name="Short" id="long">
             </li>
            <li>
                <label for="email">
                    Email
               </label> 
               <input type="radio" name="Short"id="email">
             </li>
            <li>
                <label for="MultipleC">
 Multiple correct
               </label> 
               <input type="radio" name="Short" id="MultipleC">
             </li>
            <li>
                <label for="Single"> 
                   Single Correct 
               </label> 
               <input type="radio" name="Short" id="Single">
             </li>
          
            <li>
                <label for="Date">
 Date
               </label> 
               <input type="radio" name="Short" id="Date">
             </li>
          
           
 
           </ul>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal" data-bs-dismiss="modal" id="Enter_qsn">Enter Question Data</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
    <div class="modal-dialog modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalToggleLabel2">Enter Question</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <div id="data">
            Please select question catagory
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-warning" style="width: 20%;" data-bs-target="#exampleModalToggle" data-bs-toggle="modal" data-bs-dismiss="modal">Back</button>
          <button class="btn btn-info" id="Add_data" style="width: 20%;"data-bs-dismiss="modal" aria-label="Close">Add</button>
        </div>
      </div>
    </div>
  </div>

  {% comment %}  {% endcomment %}
  <div class="row">
    <div class="col-md-12">
      <div id="Foorm" style="width: 100%;">


      </div>

      
      
      <div class="render">
        <div id="render">

        </div>

      </div>

      <a class="btn btn-primary my-4" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Add question</a>
      <form action="#" id="Send_Data" method="POST" style="width: 80%;left: 0;top: 0; margin: auto;background-color: white";>
        {% csrf_token %}
          <div class="row">
            <div class="col">
        <label for="email">Shedule from:</label>

              <input type="date" id="startdate" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
        <label for="email"></label>

              <input type="time" id="starttime" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
          <div class="row">
            <div class="col">
        <label for="email">Close at:</label>

              <input type="date" id="closedate" class="form-control" placeholder="First name" aria-label="First name">
            </div>
            <div class="col">
        <label for="email"></label>

              <input type="time" id="closetime" class="form-control" placeholder="Last name" aria-label="Last name">
            </div>
          </div>
          
        <button class="btn btn-danger m-4" style="width: 200px; margin: auto;position: relative;left: 6vw;" type="submit" >Create Form</button>
      </form>
        </div>
      </div>
      
      <div class="ren" id="ren">


      </div>
      


<script>

    
    // the selector will match all input controls of type :checkbox
// and attach a click event handler 
$("input:checkbox").on('click', function() {
  // in the handler, 'this' refers to the box clicked on
  var $box = $(this);
  if ($box.is(":checked")) {
    // the name of the box is retrieved using the .attr() method
    // as it is assumed and expected to be immutable
    var group = "input:checkbox[name='" + $box.attr("name") + "']";
 
    $(group).prop("checked", false);
    $box.prop("checked", true);
  } else {
    $box.prop("checked", false);
  }
});



var i =0;
var QsnStr = "";
var multiple= false;
var single= false;
document.getElementById('Enter_qsn').addEventListener('click',()=>{
  
  if (document.getElementById('Short').checked) {
    
    document.getElementById('data').innerHTML =  ` <label for="name">Enter Question:</label>
    <input type="text" id="Short_qsn" name="Short Qsn">
    `
   

    
  }
  else if (document.getElementById('long').checked) {
    document.getElementById('data').innerHTML =  ` <label for="name">Enter Question:</label>
    <input type="text" id="long_qsn" name="Short Qsn">
   `

    
  }
  else if (document.getElementById('MultipleC').checked) {
    multiple =true
 multiple_option_nos = 0;


    document.getElementById('data').innerHTML =  ` <label for="name">Enter Question:</label>
    <input type="text" id="Multiple_qsn" name="Short Qsn">
    <hr>
    <div id="options">
   
    </div>

    <button class="btn btn-danger my-2" id="Add_options"  onclick="addop()"  type="button" style="width: 30%"; >Add options</button>

    `

   
   
  }

    else if (document.getElementById('Single').checked) {
      single = true
      document.getElementById('data').innerHTML =  ` <label for="name">Enter Question:</label>
    <input type="text" id="Singlee_qsn" name="Short Qsn">
    <hr>
    <div id="options">
   
    </div>

    <button class="btn btn-danger my-3" id="Add_options"  onclick="addopS()"  type="button" style="width: 30%"; >Add options</button>

    `

   

    
  }

  else if (document.getElementById('Date').checked) {
    document.getElementById('data').innerHTML =  `     <label for="name">Enter Question:</label>
    <input type="text" id="date_qsn" name="Short Qsn">


    `

    
  }
  else if (document.getElementById('email').checked) {
    document.getElementById('data').innerHTML =  `     <label for="name">Enter Question:</label>
    <input type="text" id="emaill" name="Short Qsn">
    `



    
  }


})


var multiple_option_nos=0;
function addop(){
if(multiple_option_nos > 0)
{
  kk = document.getElementById(`mult${multiple_option_nos}`).value

  if(kk == ""){

  }
  else{
    multiple_option_nos = multiple_option_nos+1;

var lable = document.createElement("lable");
var input = document.createElement("input");
var f = document.createAttribute("for");
lable.innerHTML = `option ${multiple_option_nos}`;
document.getElementById("options").appendChild(lable);
var t = document.createAttribute("type");
t.value = "text"
input.setAttributeNode(t);
var ii = document.createAttribute("id");
ii.value =`mult${multiple_option_nos}`
input.setAttributeNode(ii);
document.getElementById("options").appendChild(input);



  }
}
else if(multiple_option_nos == 0){

  if(document.getElementById("Multiple_qsn").value != ""){

    multiple_option_nos = multiple_option_nos+1;
    
    var lable = document.createElement("lable");
    var input = document.createElement("input");
  var f = document.createAttribute("for");
  lable.innerHTML = `option ${multiple_option_nos}`;
  document.getElementById("options").appendChild(lable);
  var t = document.createAttribute("type");
  t.value = "text"
  input.setAttributeNode(t);
  var ii = document.createAttribute("id");
  ii.value =`mult${multiple_option_nos}`
  input.setAttributeNode(ii);
  document.getElementById("options").appendChild(input);
}
else{

}
}

}



  






var single_option_nos=0;
function addopS(){
  if(single_option_nos > 0){
  kk = document.getElementById(`sing${single_option_nos}`).value
  if(kk == ""){

  }
  else{
    single_option_nos = single_option_nos+1;

var lable = document.createElement("lable");
var input = document.createElement("input");
var f = document.createAttribute("for");
lable.innerHTML = `option ${single_option_nos}`;
document.getElementById("options").appendChild(lable);



var t = document.createAttribute("type");
t.value = "text"
input.setAttributeNode(t);

var ii = document.createAttribute("id");
ii.value =`sing${single_option_nos}`
input.setAttributeNode(ii);

document.getElementById("options").appendChild(input);

  }


  }
  else if(single_option_nos == 0){
  if(document.getElementById("Singlee_qsn").value != ""){
    single_option_nos = single_option_nos+1;

var lable = document.createElement("lable");
var input = document.createElement("input");
var f = document.createAttribute("for");
lable.innerHTML = `option ${single_option_nos}`;
document.getElementById("options").appendChild(lable);



var t = document.createAttribute("type");
t.value = "text"
input.setAttributeNode(t);

var ii = document.createAttribute("id");
ii.value =`sing${single_option_nos}`
input.setAttributeNode(ii);

document.getElementById("options").appendChild(input);



  }


  }

 


}

// ***********Actual ***************************************************************


var QsnArr =[]
var QsnRender ="";
var Qsnnumber = 0;
document.getElementById('Add_data').addEventListener('click',()=>{
  
  if (document.getElementById('Short').checked && document.getElementById('Short_qsn').value != "") {

    Qsnnumber = Qsnnumber+1;
    let o = {
      "Type":"Short",
      "Qno":Qsnnumber,
      "Q":document.getElementById('Short_qsn').value,

    }

      
      QsnArr.push(o)
      QsnRender = QsnRender + `Qsn: ${Qsnnumber} :- <label for="name">${document.getElementById('Short_qsn').value}</label>
      <input type="text" id="name" name="Short Qsn"> <hr>`
      
      document.getElementById('render').innerHTML = QsnRender
  }
          

   

    
  else if (document.getElementById('long').checked && document.getElementById('long_qsn').value != "") {
    Qsnnumber = Qsnnumber+1;
    let o = {
      "Type":"Long",
      "Qno":Qsnnumber,
      "Q":document.getElementById('long_qsn').value,
    }

    
    QsnRender = QsnRender + `    Qsn: ${Qsnnumber} :-   <label for="bio">${document.getElementById('long_qsn').value}</label>
          <textarea id="bio" name="user_bio"></textarea> <hr>
        `

    document.getElementById('render').innerHTML = QsnRender


     QsnArr.push(o)

   

    
  }

  else if (document.getElementById('MultipleC').checked && document.getElementById('Multiple_qsn').value && document.getElementById(`mult${multiple_option_nos}`).value != "") {
    Qsnnumber = Qsnnumber+1;
    let qsn = document.getElementById('Multiple_qsn').value;

    let opt = ''
    var optAr=[]

    for(j=0;j<multiple_option_nos;j++){
      id = "mult" + (j+1);
      optAr.push(document.getElementById(id).value)
      opt = opt+` <input type="checkbox" id="mu${j}" value="interest_development" name="user_interest"><label class="light" for="mu${j}">${document.getElementById(id).value}</label><br>`;

    }
    
    let o = {
      "Type":"MultipleC",
      "Qno":Qsnnumber,
      "Q":document.getElementById('Multiple_qsn').value,
      "opt":optAr
    }

  kk = document.getElementById(`mult${multiple_option_nos}`).value

    
    
    
    QsnArr.push(o)
    
    QsnRender = QsnRender + `Qsn: ${Qsnnumber} :-` + qsn + `<br>`+ opt + `<hr>`
    document.getElementById('render').innerHTML = QsnRender


    
  }
    else if (document.getElementById('Single').checked && document.getElementById('Singlee_qsn').value != "" && document.getElementById(`sing${single_option_nos}`).value != "") {
      Qsnnumber = Qsnnumber+1;
    let qsn = document.getElementById('Singlee_qsn').value;

    let opt = ''
    var optAr=[]

    for(j=0;j<single_option_nos;j++){
      id = "sing" + (j+1);
      optAr.push(document.getElementById(id).value)
      opt = opt+` <input type="radio" id="si${j}" value="interest_development" name="user_interest"><label class="light" for="si${j}">${document.getElementById(id).value}</label><br>`;

    }
    
    let o = {
      "Type":"SingleC",
      "Qno":Qsnnumber,
      "Q":document.getElementById('Singlee_qsn').value,
      "opt":optAr
    }
    if(o.Q != ""){
  kk = document.getElementById(`sing${single_option_nos}`).value

    
    
    QsnArr.push(o)
    
    QsnRender = QsnRender + `Qsn: ${Qsnnumber} :-` + qsn + `<br>`+ opt + `<hr>`
    document.getElementById('render').innerHTML = QsnRender

    }

    
  }

  else if (document.getElementById('Date').checked && document.getElementById('date_qsn').value != "") {
    Qsnnumber = Qsnnumber+1;
    let o = {
      "Type":"Date",
      "Qno":Qsnnumber,
      "Q":document.getElementById('date_qsn').value,

    }

     QsnArr.push(o)
   QsnRender = QsnRender + `Qsn: ${Qsnnumber} :- <label for="name">${document.getElementById('date_qsn').value}</label>
    <input type="date" id="name" name="Short Qsn"> <hr>`

    document.getElementById('render').innerHTML = QsnRender

   

    
  }
  else if (document.getElementById('email').checked) {
    Qsnnumber = Qsnnumber+1;
    let o = {
      "Type":"Email",
      "Qno":Qsnnumber,
      "Q":document.getElementById('email').value,

    }
    if(o.Q != ""){

     QsnArr.push(o)
   QsnRender = QsnRender + `Qsn: ${Qsnnumber} :- <label for="name">${document.getElementById('emaill').value}</label>
    <input type="email" id="name" name="Short Qsn"> <hr>`

    document.getElementById('render').innerHTML = QsnRender

    }

    
  }

})
// ******************Sending data*******************
var link = ""
$('#Send_Data').submit(function (event) {

  var oo= {
    "Title":document.getElementById('title').value,
      "Disc":document.getElementById('discc').value,
      "st":document.getElementById('starttime').value,
      "sd":document.getElementById('startdate').value,
      "ct":document.getElementById('closetime').value,
      "cd":document.getElementById('closedate').value,
      "Qsns":QsnArr,
      

  }
  var ttt = document.getElementById('title').value
  var ddd = document.getElementById('discc').value

    if(oo.st == "" || oo.sd == "" ||oo.ct == "" ||oo.cd == ""||ttt == ""||ddd == ""){

    }
    else{

      
      var formData = {
      "Qsns":JSON.stringify(oo),
      

      
      
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
      };
      $.ajax({
        type: 'POST',
        url: '/createformdata',
        data: formData,
        encode: true
    })
    .done(function (data) {
          document.getElementById('linkk').style.display="block"
          document.getElementById('link').innerHTML = `<input type="text" value="${data}" id="myInput">`;
          
          
          
          
           
          

          
        });
      }
      event.preventDefault();

      })
      
      
      
function myFunction() {
  /* Get the text field */
  var copyText = document.getElementById("myInput");

  /* Select the text field */
  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  /* Copy the text inside the text field */
  navigator.clipboard.writeText(copyText.value);
  
  /* Alert the copied text */
}

</script>
{% endblock body %}