{% extends 'base.html' %}
{% block title %}Fill Form{% endblock title %}
{% block css %}
<style>

   /*  */
   *, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  color: #384047;
}

form {
  max-width: 300px;
  /* z-index: -1; */
  margin:auto;
  position: relative;
  top: 6vh;
  left: 15vw;
  /* justify-content: center; */
  padding: 10px 20px;
  background: #f4f7f8;
  border-radius: 8px;
}

h1 {
  margin: 0 0 30px 0;
  text-align: center;
}

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea,
select {
  background: rgba(255,255,255,0.1);
  border: none;
  font-size: 16px;
  height: auto;
  margin: 0;
  outline: 0;
  padding: 7px;
  width: 100%;
  background-color: #e8eeef;
  color: #8a97a0;
  box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
  margin-bottom: 3px;
}
.render{
  min-height: 20vh;
  max-height: 90vh;
  overflow-y: scroll;
  background-color: rgb(226, 255, 253);
}

input[type="radio"],
input[type="checkbox"] {
  margin: 0 4px 8px 0;
}

select {
  padding: 6px;
  height: 32px;
  border-radius: 2px;
}



fieldset {
  margin-bottom: 30px;
  border: none;
}

legend {
  font-size: 1.4em;
  margin-bottom: 10px;
}
/* 
label {
  display: block;
  margin-bottom: 8px;
} */

label.light {
  font-weight: 300;
  display: inline;
}

.number {
  background-color: #5fcf80;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 0.8em;
  margin-right: 4px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 100%;
}
.formm{
    width: 80vw;
    margin: auto;

    min-height: 20vh;
    max-height: 80vh;
    overflow-y: scroll;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border: solid grey 2px;

    padding: 17px;
}
.ff{
    position: relative;
    top: 6vh;
    margin-top: 10px;
    margin-bottom: 300px;
}

.submitt{
    padding: 3px;
    width: 200px;
}
#bb{
    width: 10px;
    margin: auto;position: relative;
    left: -5vw;
}
.title{
    margin: auto;
}

</style>

{% endblock css %}
{% block body %}
 

  
  
 
<div class="ff">
<h2 class="title">Title :- {{Qs.T}}</h1>
<h4 class="title" style="margin-bottom: 20px;">Form Discription :- {{Qs.D}}</h4>
    <div class="formm">
    
 {% for q in Qs.Q %}
{% if q.Type == "Short" %}
<label for="name">{{q.Qno}}:- {{q.Q}} :</label>
  <input type="text" id="id{{q.Qno}}" name="user_name">
{% elif q.Type == "Long" %}
<hr>
 <label for="bio">{{q.Qno}}:- {{q.Q}} :</label>
  <textarea id="id{{q.Qno}}" name="user_bio"></textarea>
{% elif q.Type == "Email" %}
<hr>
  <label for="email">{{q.Qno}}:- {{q.Q}} :</label>
  <input type="email" id="id{{q.Qno}}" name="user_email">
{% elif q.Type == "MultipleC" %}
<hr>
  <label>{{q.Qno}}:- {{q.Q}} :</label>
  <br>
  <div id="id{{q.Qno}}">

        {% for u in q.opt %}
        
          <input type="checkbox" id="M{{q.Qno}}{{forloop.counter}}" value="" onclick="if(this.checked) {this.value='on'; }else{this.value='off'}"  name="user_interest"><label class="light" for="development">{{u}} </label><br>
        {% endfor %}
    </div>
          

{% elif q.Type == "SingleC" %}

<hr>
  <label>{{q.Qno}}:- {{q.Q}} :</label>
  <br>
  <div id="id{{q.Qno}}">
        {% for u in q.opt %}
        
          <input type="radio" id="S{{q.Qno}}{{forloop.counter}}"value="j" onclick="if(this.checked) {this.value='on'; } "onblur="this.value='off'" name="user_interest"><label class="light" for="development">{{u}} </label><br>
        {% endfor %}
        </div>



{% elif q.Type == "Date" %}
<hr>

<label for="name">{{q.Qno}}:- {{q.Q}} :</label>
  <input type="date" id="id{{q.Qno}}" name="user_name">
{% endif %}
{% endfor %} </div>
<div id="bb">
  <form id="jsform" style="background-color: transparent; position: relative;left: 0vw;" action="#">
{% csrf_token %}
<button class="custom-btn btn-3" onclick="sumbit()" type="submit"><span>Submit</span></button></div>
  </form>

</div>

{% comment %} {{Qs}} {% endcomment %}


<script type="text/javascript"> 
id = '{{Qs.id}}'
var f;
fetch(`/givedata/${id}`)
            .then(response => response.json())
            .then(data => {
                f = data

            })
function sumbit(){
    var aD=[]
    f["Q"].forEach(e => {
        if(e["Type"] == "Short"){
        
           let a = document.getElementById(`id${e["Qno"]}`).value
           o = {
             "T":"S",
             "Qn":e["Qno"],
             "A":a
           }
           aD.push(o)

        }
        else if(e["Type"] == "Long"){
        
           let a = document.getElementById(`id${e["Qno"]}`).value
           o = {
             "T":"L",
             "Qn":e["Qno"],
             "A":a
           }
           aD.push(o)
        }
        else if(e["Type"] == "Email"){
        
           let a = document.getElementById(`id${e["Qno"]}`).value
           o = {
             "T":"E",
             "Qn":e["Qno"],
             "A":a
           }
           aD.push(o)
        }
        else if(e["Type"] == "MultipleC"){
            let ob = ""
          ll =e["opt"].length
            so = []
            son =[]
          for(i = 1; i<ll+1; i++ ){
           let a = document.getElementById(`M${e["Qno"]}${i}`).value
           if(document.getElementById(`M${e["Qno"]}${i}`).value == 'on'){
             so.push(e["opt"][i-1])
             son.push(i)
           }
           

          }
          o = {
               "T":"M",
               "Qn":e["Qno"],
               "A":so,
               "An":son


             }
             aD.push(o)


            
        }
        else if(e["Type"] == "SingleC"){
            let ob = ""
          ll =e["opt"].length
            
          for(i = 1; i<ll+1; i++ ){
           let a = document.getElementById(`S${e["Qno"]}${i}`).value
           
           if(document.getElementById(`S${e["Qno"]}${i}`).checked){
             o = {
               "T":"sing",
               "Qn":e["Qno"],
               "A":e["opt"][i-1],
               "An":i


             }
             aD.push(o)
           }
           
          
            
            
          }
       
        }
        else if(e["Type"] == "Date"){
        
        let a = document.getElementById(`id${e["Qno"]}`).value
        o = {
          "T":"D",
          "Qn":e["Qno"],
          "A":a
        }
        aD.push(o)
     }
       
            

        
    });

    $('#jsform').submit(function (event) {
  var ooo= {
    "A":aD,
  }

      


    
    formDat ={
      "Aa":JSON.stringify(ooo),

      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()


    }

    $.ajax({
        type: 'POST',
        url: `/saveresponse/${f["id"]}`,
        data: formDat,
        encode: true
    })
        .done(function (data) {
          console.log(data);


          
           
                


        });

    event.preventDefault();

      })

    


   
    
}
















</script>
     

        







{% endblock body %}