<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EForm | {% block title %}{% endblock title %} </title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

</head>
<body>
    {% comment %} ********************HEADER***************************************************************************** {% endcomment %}

      <nav>
      <input type="checkbox" id="check">
      <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
      </label>
   
      <label class="logo">Form hub</label>
      <ul>
        <li><a  href="">Home</a></li>
        
     <li><a href="createform">Create Form</a></li>
        {% comment %} <li><a href="#">Services</a></li> {% endcomment %}
        {% comment %} <li><a href="#">Contact</a></li> {% endcomment %}
        {% load socialaccount %}
        {% if user.is_authenticated %}
        <li><a href="logout">Logout</a></li>
    

      {% else %}
        <li><a href="{% provider_login_url 'google' %}">Login</a></li>
      {% endif %}


      </ul>
    </nav>
    <section></section>

    {% comment %} ********************END HEADER***************************************************************************** {% endcomment %}
   {% comment %} **********************BODY********************************************* {% endcomment %}
{% block body %}

{% endblock body %}
    Welcome, You are logged in as {{ user.first_name }}


   {% comment %} **********************END BODY********************************************* {% endcomment %}

</body>
</html>